* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

} /* this grabs everything */

/*Main style*/
html, body {
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
line-height: 1.7em;}

a {
    color: #333;
    text-decoration: none;
}

h1,h2,h3 {
    padding-bottom: 20px;
}

p {
    margin: 10px 0;
}

/*Utility classes that we can use all around*/
.container {
    margin:auto;
    max-width: 1100px;
    overflow: auto;
    padding: 0 20px;
}

.text-primary {
    color: white;
}





/*Navigation bar */

#navbar {
   background-color:#ebecf1;
   color: white; 
   overflow: auto;
}

#navbar a {
    color: black;
} 
#navbar h1 {
    float: left;
    padding-top: 20px;
}

#navbar ul {
    list-style: none;
    float: right;
}

#navbar ul li{
    float: left;
}

#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}

#navbar ul li a:hover {
    background:#07689f;
    color:white;
    border-radius:25px ;
    box-shadow: 2px 2px 12px rgba(247, 202, 24, 1);
}
#navbar h1:hover {
    font-weight: 1000;
    color:#07689f; 
    letter-spacing: 8px;
}

/*Showcase*/

#showcase { 
    position: relative;
    height: 100%;
    margin:0px;
    padding:0px;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:#ebecf1;
    display:flex;
}
    .slider-box {
        margin: 20px;
         height:300px ;
         width: 250px;
         position: relative;
         background-color:black;
         border-radius:5px ;
         display: flex;
        flex-direction: column; 
        justify-content: center;
        align-items: center;
        text-align: center;
        color:white;
        

    }
    .slider-box a {
        text-decoration: none;
        text-align: center;
    } 
    .img-box {
        height: 150px;
        width: 150px;
    }
    .img-box img{
        height: auto;
        max-width: 100%;
        max-height: 100%;
    }

   
    .slider-box:hover {
        box-shadow: 4px 4px 12px rgb(52, 15, 187);
    }
    .slider-box:hover .img-box img {
        transform: scale(1.07);
        transition: all ease 0.3s;
    }
  

